.formContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5rem;
  height: 75vh;
  grid-template-areas:
    "content1 content2 content2"
    "content1 form content3"
    "content4 content5 content6";
}
