.errorContainer {
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.errorContainer h1 {
  font-size: 10rem;
  padding: 2rem;
}

.errorContainer p {
  padding: 2rem;
  font-size: 2rem;
  white-space: nowrap;
}

.errorContainer button {
  width: 50%;
}
