.buttonGroup button {
  background-color: transparent;
  border: 2px solid white;
  padding: 1rem;
  cursor: pointer;
  float: left;
  width: 100%;
  color: white;
  font-weight: bold;
}

.buttonGroup button:not(:last-child) {
  border-right: none;
}

.buttonGroup button:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

.buttonGroup button:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

.buttonGroup button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.buttonGroup button.Not.Learned {
  background-color: rgba(255, 0, 0, 0.2);
}

.buttonGroup button.Plan.to.Learn {
  background-color: rgba(255, 255, 0, 0.2);
}

.buttonGroup button.Learning {
  background-color: rgba(0, 0, 255, 0.2);
}

.buttonGroup button.Learned {
  background-color: rgba(0, 255, 0, 0.2);
}

.colectionHeader {
  border-radius: 0.25rem;
  margin: auto 2rem;
}

.collectionBorder {
  margin: 3rem;
  border-radius: 0.2rem;
}

.collectionTitle {
  font-size: 4rem;
  margin-top: 1rem;
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
  box-shadow: 0 2px 20px #e1e5ee;
}

.view{
  width: 20%;
  height: 20%;
}

.collectionTitleFilter{
  display: flex;
}

.collectionTitleFilter .view{
  margin-left: auto;
}

.filter.active{
  background-color: rgba(132, 111, 111, 0.8);
}

.tableContainer{
  display: flex;
  align-items: center;
  justify-content: center;

}

table, th, td {
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);;

}

.table {
  width: 82vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 20px #e1e5ee;
  border-radius: .2rem;
  border: none;
  border-collapse: collapse;
}

.tableHeader{
  width: 100%;
  height: 10%;
  padding: .8rem 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 0px;
}

.tableBody{
  width: 95%;
  max-height: 89%;
  margin: .9rem auto;
  text-align: center;
}

.table select {
  background-color: transparent;
  color: white;
  text-align: center;
  font-size: 1.5em;
}

.table button {
  width: fit-content;
  height: fit-content;
  margin: 0;
}

.tableWrapper{
  max-height: 70vh;
  overflow-y: scroll;
  margin-bottom: 2rem;
  box-shadow: 0 2px 20px #e1e5ee;
}

.cardBody select {
  background-color: transparent;
  color: white;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}